.toastContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 1rem 0;
    color: white;
    width: 20rem
}

.toastContainer {
    max-width: 200px;
}