.btn-primairy {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    margin:  0 30px 0;
    background-color: blue;
}

.toastContainer {
    max-width: 300px;
}