/* Color Palate */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #1d1e2f;
  --gray-dark: #11111d;
  --primary: #714cdf;
  --secondary: #16a4de;
  --success: #17b06b;
  --info: #2983fe;
  --warning: #f97515;
  --danger: #ff3c5c;
  --light: #dbebfb;
  --dark: #32334a;
}

  body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerChildren {
  text-align: center;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e4e2ff;
  text-align: left;
  background-color: #0c0d16;
}

.card {
  font-family: 'Teko', sans-serif;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #32334a;
  background-clip: border-box;
  border: 1px solid #151623;
  border-radius: 6px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-evenly;
  align-items: center;
  color:#32334a;
  margin: .5rem;
  width: 80%;
  
}

.stopwatch-time {
  font-size: 3rem;
}

.stopwatch_button {
  justify-content: center;
  max-width: 4rem;
}

.container {
  display: flex;
  justify-content: center;
}

.exerciseDisplay {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-width: .1rem;
  border-color: #dbebfb;
  padding: .5rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.473);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: .5rem;
  width: 100%;
  background-color: #dbebfb;
  color:#32334a;
}

.btn {
  max-width: 80%;
  font-size: 1.5rem;
  text-shadow: .1px .1px .2px #32334a, 0 0 .2px #dbebfb, 0 0 .1px #fff;
  background-color: #20c997;
  border: #20c997;
  font-family: 'Teko', sans-serif;
}

.btn {
  margin: 0 0 1rem 0;
  color: white;
  width: 80%;
}

.btn-warning {
  background-color: #f97515;
  border: #f97515;
}

.btn-danger {
  background-color: #ff3c5c;
  border: #ff3c5c;
}

.btn-primary {
  background-color: #6610f2;
  border: #6610f2;
}

.btn-sml {
  margin: 0rem .25rem 1rem .25rem;
}

.editDelete {
  display: flex;
  align-items: center;
}

.start {
  margin-top: -2rem ;
  background-color:#20c997;;
  border: #20c997;;
}

.reset {
  background-color: #32334a;
  border: #6610f2;
  margin-bottom: 1rem;
}

.stopwatchCard {
  display: flex;
  justify-content: center;
  background-color: #dbebfb;
  padding-bottom: 1rem; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.exercise-card {
  border-style: solid;
  border-width: .1rem;
  border-color: #dbebfb;
  padding: .5rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.473);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: .5rem;
}

.timeSelect {
  width: 5rem;
  border: 3px solid #835aff;
}

.timeSelect :focus {
  width: 5rem;
  border: 3px solid #835aff;
}

.ExerciseForm {
  margin: 1rem;
}

.workoutCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-width: .1rem;
  border-color: #dbebfb;
  background-color: #dbebfb;
  color: #32334a;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.473);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: .5rem;
  max-width: ;
}

.navbar {
  min-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-image: linear-gradient( #32334a, black);
  font-family: 'Teko', sans-serif;
}

.nav-link {
  color: #dbebfb;
  font-size: 2rem;
}

h3 {
  font-size: 2.75rem;
  text-shadow: 1px 1px 2px #32334a, 0 0 2px #dbebfb, 0 0 1px #fff;
}

h4 {
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px #32334a, 0 0 2px #dbebfb, 0 0 1px #fff;
}

p {
  font-size: 1.75rem;
  text-shadow: .1px .1px .2px #32334a, 0 0 .2px #dbebfb, 0 0 .1px #fff;
}

h1 {
  font-size: 8rem;
  text-shadow: 1px 1px 2px #32334a, 0 0 2px #dbebfb, 0 0 1px #fff;
}


.fade {
  opacity: 1;
  animation: fade .5s linear infinite alternate;
  text-shadow: .5rem .5rem .5rem #32334a, .45rem .45rem 1rem #dbebfb, .55rem .55rem 1rem #fff;
  color: #1d1e2c;
}

@keyframes fade {
0% { opacity: 1 }
25% { opacity: .9 }
50% { opacity: .7 }
75% { opacity: .5 }
100% { opacity: .1 }
}

input[type=text] {
  background-color: #6610f2;
  border: 3px solid #835aff;
  color: #fff;
  font-size: 1.7rem;
  max-width: 80%;
  margin-bottom: -1rem;
}

input[type=text]:focus {
  background-color: #835aff;
  color: #fff;
  font-size: 1.7rem;
  border: 3px solid #835aff;
  margin-bottom: -1rem;
}

label {
  font-size: 2rem;
  text-shadow: .1px .1px .2px #32334a, 0 0 .2px #dbebfb, 0 0 .1px #fff;
  margin-bottom: .1rem;
}

.ExerciseForm {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
}

.workoutForm {
  margin-top: 3rem;
  margin-left: 2rem;
  color: #dbebfb;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
}

.workoutBtn {
  margin-top: 2rem;
}

.image {
  margin-top: 2rem;
  margin-right: -3rem;
  margin-left: 2.3rem;
}
